[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
ffmpeg-python = "*"
openai-whisper = {git = "https://github.com/openai/whisper.git"}
torch = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
